table, td, th {
    border: 1px solid black;

    border-collapse: collapse;

}

tfoot tr td:first-child {
    text-align: left;
    width: 25%;

}

tfoot tr td {
    text-align: right;
}

table {
    text-align: justify;
    width: 100%;
    margin: 10% auto 0;
}

tr {
    height: 40px;;
}

thead {
    font-weight: bold;
    background: gray;
    text-align: center;
}

tbody {
    background: lightblue;
    }

tfoot {
    background: cadetblue;
    font-weight: bold;
}

.menu > li:first-child {
    border-left: 0;
}

.menu > li {
    float: left;
    position: relative;
    border-collapse: collapse;
    width: 20%;
    text-align: center;
    background: springgreen;

}

a {
    text-decoration: none;

}

.menu::after {
    content: '';
    display: inline-block;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.menu > li > a {
    display: block;
    padding: 20px 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: black;

}

.submenu {
    position: absolute;
    border: 1px solid black;
    background: lightgrey;
    visibility: hidden;
    transform-origin: 0% 0%;
    width: 215px;

}

.submenu li {
    position: relative;
}

.submenu > li > a {
    color: black;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid black;
}

.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;

}

.submenu > li {
    position: relative;
}

li:hover > .submenu {
    visibility: visible;
    opacity: 1;

}

body {
    background: cornsilk;
    text-align: justify;
    width: 80%;
    margin: 5% auto 0;
    background: url(../image/1.jpg);
}

.submenu > li > a:hover {
    color: white;
    background: black;
    font-weight: bolder;
}

.menu > li > a:hover {
    font-weight: bolder;
    color: white;
    background: black;
}

