body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  font-family: "Segoe UI", sans-serif;
}
body div.like img {
  width: 12px;
  height: 12px;
}
body img.icon {
  height: 20px;
  width: 20px;
  border-radius: 20px;
}
body header {
  background: linear-gradient(to top, #3944fe, #2c74f1);
  flex: 0 0 40px;
  margin: 0 auto 0 auto;
  width: 1360px;
}
body header div {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}
body header div form {
  display: flex;
  position: relative;
  width: 350px;
  align-items: center;
  justify-content: center;
  margin-left: 253px;
}
body header div form img {
  margin-left: 25px;
  width: 10px;
  height: 10px;
  border-radius: 15px;
}
body header div form input {
  width: 250px;
  height: 20px;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 5px;
  background: white url(../image/search.png) no-repeat 250px center;
  border: none;
  margin-left: 30px;
}
body header div #user {
  display: flex;
  width: 200px;
  color: white;
  margin-right: 200px;
  align-items: center;
  justify-content: center;
}
body header div #user > a {
  text-decoration: none;
  color: #fff;
}
body header div #user > section {
  color: #1d2c67;
}
body header div #user > button {
  height: 20px;
  width: 20px;
  border: 1px solid #000088;
  border-radius: 20px;
  background-color: #000096;
  color: #0f0a72;
  font-size: 10px;
  padding-left: 5px;
  padding-top: 0;
  box-shadow: 0 0 5px #000072;
}
body header div #user > button:focus {
  outline: none;
  box-shadow: 0 0 10px #00004f;
}
body div#information {
  width: 1020px;
  margin: 10px auto 0 auto;
  display: flex;
}
body div#information div.border {
  border-right: 10px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  font-size: 1px;
  height: 1px;
  margin-top: 25px;
}
body div#information .content {
  display: flex;
  width: 693px;
  flex-direction: column;
  border-right: 1px solid rgba(168, 198, 193, 0.52);
}
body div#information .content #plus {
  margin-left: 25px;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 0 0 2px #9d9d9d;
  color: #ececec;
  height: 60px;
  display: flex;
  align-items: flex-end;
}
body div#information .content .head {
  display: flex;
  margin: 1px 0 10px 40px;
  align-items: center;
  justify-content: space-between;
}
body div#information .content .head > section {
  display: flex;
  margin-right: 30px;
}
body div#information .content .head #menu {
  display: flex;
  height: 60px;
  background-color: white;
  box-shadow: 2px 2px 3px grey;
}
body div#information .content .head #menu > div {
  border-right: 1px solid rgba(168, 198, 193, 0.52);
  width: 120px;
  margin-left: 10px;
  height: 50px;
  margin-top: 5px;
}
body div#information .content .head #menu > div > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
body div#information .content .head #menu > div > a > img {
  width: 20px;
  height: 20px;
}
body div#information .content .head #menu > div > a #last {
  width: 30px;
  height: 30px;
}
body div#information .content .head #menu > div:last-child {
  border: none;
}
body div#information .content .all {
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 19px;
  justify-content: space-between;
}
body div#information .content .all .user {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
body div#information .content .all .user > section {
  display: flex;
  margin-right: 30px;
}
body div#information .content .all .user .information {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  min-width: 80px;
  font-size: 10pt;
  text-align: center;
}
body div#information .content .all .user .information .photo img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
body div#information .content .all .user .information > div {
  justify-content: center;
}
body div#information .content .all .user .information .time {
  color: #a0a0a0;
  font-size: 9pt;
}
body div#information .content .all .user .information .like img {
  margin-right: 3px;
}
body div#information .content .all .user .border {
  margin-top: 34px;
}
body div#information .content .all .user .abc {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 503px;
  background-color: white;
  height: 150px;
  box-shadow: 2px 2px 3px grey;
}
body div#information .content .all .user .abc .as {
  height: 90px;
  margin-top: 10px;
}
body div#information .content .all .user .abc .as#images {
  display: flex;
  justify-content: space-between;
}
body div#information .content .all .user .abc .as img {
  padding-right: 46px;
  height: 90px;
  border-right: 1px solid rgba(168, 198, 193, 0.52);
}
body div#information .content .all .user .abc .as img:last-child {
  border: none;
  padding-right: 0;
}
body div#information .content .all .user .abc .foot {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid rgba(168, 198, 193, 0.52);
  padding-top: 10px;
  align-items: center;
}
body div#information .content .all .user .abc .foot input {
  margin-left: 20px;
  width: 300px;
  border-radius: 20px;
  border: 0.5px solid rgba(168, 198, 193, 0.52);
  height: 20px;
  padding-left: 10px;
  padding-right: 25px;
  background: url(../image/123.png) no-repeat 245px center;
}
body div#information .content .all .user .abc .foot div {
  border-right: 1px solid rgba(168, 198, 193, 0.52);
  margin-left: 25px;
  padding-right: 25px;
}
body div#information .content .all .user .abc .foot section {
  border-right: 1px solid rgba(168, 198, 193, 0.52);
  margin-left: 25px;
  padding-right: 25px;
}
body div#information .content .all .user .abc .foot section:last-child {
  border: none;
}
body div#information .content .all .user .abc .foot section img {
  width: 15px;
  height: 15px;
}
body div#information .content .all .user .abc .foot section img.aaa {
  width: 13px;
  height: 13px;
}
body div#information .users {
  width: 306px;
  flex-direction: column;
  margin-left: 30px;
  align-items: center;
}
body div#information .users .use {
  border-bottom: 1px solid rgba(168, 198, 193, 0.52);
  padding-bottom: 20px;
}
body div#information .users .use div:first-child {
  margin-top: 1px;
}
body div#information .users .use div {
  padding: 5px 0 0 10px;
  font-size: 12px;
  margin-top: 5px;
  background-color: white;
  height: 55px;
  box-shadow: 2px 2px 3px grey;
  color: gray;
}
body div#information .users .use div h4 {
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
}
body div#information .users .use img {
  float: left;
  margin: 0 7px 0 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
body div#information .users .used {
  padding-top: 20px;
}
body div#information .users .used div {
  height: 31px;
  margin: 0;
  background-color: white;
  box-shadow: 2px 2px 3px grey;
  padding: 5px 20px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9pt;
  color: #a0a0a0;
}
body div#information .users .used div:last-child {
  padding-bottom: 9px;
}
body div#information .users .used div img {
  height: 10px;
  width: 10px;
  border-radius: 30px;
}
body div#information .users .used div > section {
  display: flex;
  font-size: 10pt;
  align-items: center;
  color: black;
}
body div#information .users .used div > section > a {
  padding-top: 1px;
}
body div#information .users .used div > section img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
h1 {
  margin: 0 0 5px 0;
  font-size: 20px;
}
img.rightimg {
  float: right;
  margin: 0 0 0 7px;
}
input {
  box-shadow: inset -1px 1px 10px lightgray, 1px -1px lightgray;
}
input:focus {
  outline: none;
  box-shadow: inset -1px 1px 10px lightgray, 1px -1px lightgray, 0 0 8px #0000bd;
}
