body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  font-family: "Segoe UI", sans-serif;
}
body div.like img {
  width: 12px;
  height: 12px;
}
body img.icon {
  height: 20px;
  width: 20px;
  border-radius: 20px;
}
body header {
  background: linear-gradient(#5476b4, #3b5998 50%);
  flex: 0 0 45px;
  margin: 0 auto 0 auto;
  width: 1360px;
}
body header div {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}
body header div form {
  display: flex;
  position: relative;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-left: 225px;
}
body header div form label {
  font-size: 18pt;
  color: white;
}
body header div form img {
  margin-left: 25px;
  width: 10px;
  height: 10px;
  border-radius: 15px;
}
body header div form input {
  width: 250px;
  height: 20px;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 5px;
  background: white url(../image/search.png) no-repeat 257px center;
  border: none;
  margin-left: 10px;
}
body header div #user {
  display: flex;
  width: 200px;
  color: white;
  margin-right: 200px;
  align-items: center;
}
body header div #user p {
  margin: 0;
  height: 23px;
}
body header div #user > a {
  text-decoration: none;
  color: #fff;
}
body header div #user > section {
  color: #212f6e;
  height: 23px;
  margin: 0 20px 0 20px;
}
body header div #user > button {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: none;
  color: #344a82;
  font-size: 9px;
  background-image: linear-gradient(#496dbb, #415583 50%);
  padding-top: 0;
  box-shadow: 0.5px 0.5px black, -0.5px -0.5px #26325c;
  text-shadow: 0.1px 0.1px black, -0.1px -0.1px #26325c;
}
body header div #user > button:focus {
  outline: none;
  box-shadow: 0 0 20px #232a51;
}
body div#information {
  width: 1020px;
  margin: 15px auto 0 auto;
  display: flex;
  align-items: stretch;
}
body div#information div.border {
  border-right: 10px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  font-size: 1px;
  height: 0;
  margin-top: 25px;
}
body div#information .content {
  display: flex;
  width: 693px;
  flex-direction: column;
  border-right: 1px solid rgba(168, 198, 193, 0.52);
}
body div#information .content #plus {
  margin-left: 25px;
  font-size: 55px;
  font-weight: bold;
  text-shadow: -1px -1px black, 1px 1px white;
  color: #ececec;
  height: 60px;
  display: flex;
  align-items: flex-end;
}
body div#information .content .head {
  display: flex;
  margin: 1px 0 0 40px;
  align-items: center;
  justify-content: space-between;
}
body div#information .content .head > section {
  display: flex;
}
body div#information .content .head #menu {
  display: flex;
  height: 60px;
  box-shadow: 2px 2px 3px grey;
  margin-right: 30px;
}
body div#information .content .head #menu > section {
  display: flex;
  align-content: stretch;
  background-color: white;
}
body div#information .content .head #menu > section:hover {
  background-color: lightgray;
}
body div#information .content .head #menu > section > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
body div#information .content .head #menu > section > a div {
  width: 120px;
  margin-left: 10px;
  height: 50px;
  display: flex;
  margin-top: 5px;
  align-items: center;
  border-right: 1px solid rgba(168, 198, 193, 0.52);
}
body div#information .content .head #menu > section > a img {
  width: 20px;
  height: 20px;
}
body div#information .content .head #menu > section > a #last {
  width: 30px;
  height: 30px;
}
body div#information .content .head #menu > div:last-child {
  border: none;
}
body div#information .all {
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 19px;
  justify-content: space-between;
}
body div#information .all .user {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
body div#information .all .user > section {
  display: flex;
  margin-right: 30px;
}
body div#information .all .user .information {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  min-width: 80px;
  font-size: 10pt;
  text-align: center;
}
body div#information .all .user .information .photo img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
body div#information .all .user .information > div {
  justify-content: center;
}
body div#information .all .user .information .time {
  color: #a0a0a0;
  font-size: 9pt;
}
body div#information .all .user .information .like img {
  margin-right: 3px;
}
body div#information .all .user .border {
  margin-top: 34px;
}
body div#information .all .user .abc {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 503px;
  background-color: white;
  height: 150px;
  box-shadow: 2px 2px 3px grey;
}
body div#information .all .user .abc .as {
  height: 90px;
  margin-top: 10px;
}
body div#information .all .user .abc .as#images {
  display: flex;
  justify-content: space-between;
}
body div#information .all .user .abc .as h1 {
  font-size: 14pt;
  font-weight: 500;
}
body div#information .all .user .abc .as img {
  padding-right: 22px;
  height: 90px;
  border-right: 1px solid rgba(168, 198, 193, 0.52);
}
body div#information .all .user .abc .as img:last-child {
  border: none;
  padding-right: 0;
}
body div#information .all .user .abc .foot {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid rgba(168, 198, 193, 0.52);
  padding-top: 10px;
  align-items: center;
}
body div#information .all .user .abc .foot input {
  margin-left: 20px;
  width: 300px;
  border-radius: 20px;
  border: 0.5px solid rgba(168, 198, 193, 0.52);
  height: 20px;
  padding-left: 10px;
  padding-right: 25px;
  background: url(../image/123.png) no-repeat 245px center;
}
body div#information .all .user .abc .foot div {
  border-right: 1px solid rgba(168, 198, 193, 0.52);
  margin-left: 25px;
  padding-right: 25px;
}
body div#information .all .user .abc .foot section {
  border-right: 1px solid rgba(168, 198, 193, 0.52);
  margin-left: 25px;
  padding-right: 25px;
}
body div#information .all .user .abc .foot section:last-child {
  border: none;
}
body div#information .all .user .abc .foot section img {
  width: 15px;
  height: 15px;
}
body div#information .all .user .abc .foot section img.aaa {
  width: 13px;
  height: 13px;
}
body .users {
  width: 260px;
  flex-direction: column;
  margin-left: 30px;
  align-items: center;
}
body .users .use {
  border-bottom: 1px solid rgba(168, 198, 193, 0.52);
  padding-bottom: 20px;
}
body .users .use .contra {
  margin-top: 10px;
  background-color: white;
  box-shadow: 2px 2px 3px grey;
}
body .users .use .contra:first-child {
  margin-top: 1px;
}
body .users .use .contra:hover {
  background-color: lightgray;
}
body .users .use .contra a {
  text-decoration: none;
}
body .users .use .contra a div {
  height: 55px;
  padding: 5px 0 0 10px;
  font-size: 12px;
  color: gray;
}
body .users .use .contra a div h4 {
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
}
body .users .use img {
  float: left;
  margin: 0 7px 0 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
body .users .used {
  padding-top: 20px;
}
body .users .used .contra2 {
  height: 35px;
  background-color: white;
  box-shadow: 2px 2px 3px grey;
}
body .users .used .contra2 a {
  text-decoration: none;
}
body .users .used .contra2:hover {
  background-color: lightgray;
}
body .users .used .contra2 a div {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 10px;
  font-size: 9pt;
  color: #a0a0a0;
}
body .users .used .contra2 a div img {
  height: 10px;
  width: 10px;
  border-radius: 30px;
}
body .users .used .contra2 a div > section {
  display: flex;
  font-size: 10pt;
  align-items: center;
  color: black;
}
body .users .used .contra2 a div > section img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
h1 {
  margin: 0 0 5px 0;
  font-size: 20px;
}
img.right {
  float: right;
  margin: 0 0 0 7px;
}
input {
  box-shadow: inset -1px 1px 10px lightgray, 1px -1px lightgray;
}
input:focus {
  outline: none;
  box-shadow: inset -1px 1px 10px lightgray, 1px -1px lightgray, 0 0 8px #0000bd;
}
